In [1]:
employee1 = ["Asad", "Data Scientist",4000]

In [2]:
employee1[-1]

4000

In [3]:
employee2 = ["Abdul", "Data Scientist",3800]

In [4]:
employee2[1]

'Data Scientist'

In [5]:
type(employee1)

list

In [6]:
dir(employee1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
employee1.append("0.5%")

In [9]:
employee2.append("0.35%")

In [12]:
employee1.append("0.35%")

In [13]:
employee1

['Asad', 'Data Scientist', 4000, '0.5%', '0.35%']

In [11]:
employee2

['Abdul', 'Data Scientist', 3800, '0.35%']

In [14]:
employee1.remove("0.35%")

In [15]:
employee1

['Asad', 'Data Scientist', 4000, '0.5%']

In [17]:
employee1.remove("0.35%")
#gives error

ValueError: list.remove(x): x not in list

In [18]:
employee1.append("0.35%")

In [19]:
employee1

['Asad', 'Data Scientist', 4000, '0.5%', '0.35%']

In [20]:
del employee1[4]

In [21]:
employee1

['Asad', 'Data Scientist', 4000, '0.5%']

In [23]:
del employee1[25]
#out of range of list

IndexError: list assignment index out of range