In [1]:
import numpy as np
import pandas as pd

In [3]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df)

       Name  Age  Rating
0       Tom   25    4.23
1     James   26    3.24
2     Ricky   25    3.98
3       Vin   23    2.56
4     Steve   30    3.20
5     Smith   29    4.60
6      Jack   23    3.80
7       Lee   34    3.78
8     David   40    2.98
9   Grasper   30    4.80
10   Betina   51    4.10
11   Andres   46    3.65

### sum()

In [4]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David',
                         'Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df.sum())

Name      TomJamesRickyVinSteveSmithJackLeeDavidGrasperB...
Age                                                     382
Rating                                                44.92
dtype: object

### mean()

In [10]:
d = {
    # 'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [11]:
d = {
    # 'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [14]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David',
                         'Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [15]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David',
                         'Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df.describe(include=['object']))

       Name
count    12
unique   12
top     Tom
freq      1

In [17]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David',
                         'Grasper','Betina','Andres']),
     'Age' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
     }

df = pd.DataFrame(d)
print(df.describe(include='all'))

       Name        Age     Rating
count    12  12.000000  12.000000
unique   12        NaN        NaN
top     Tom        NaN        NaN
freq      1        NaN        NaN
mean    NaN  31.833333   3.743333
std     NaN   9.232682   0.661628
min     NaN  23.000000   2.560000
25%     NaN  25.000000   3.230000
50%     NaN  29.500000   3.790000
75%     NaN  35.500000   4.132500
max     NaN  51.000000   4.800000