In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(['Tom','William Rick','John','Alber@t',np.nan, '1234','SteveSmmith'])
print(s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6     SteveSmmith
dtype: object

### lower()

In [3]:
s = pd.Series(['Tom','William Rick','John','Alber@t',np.nan, '1234','SteveSmmith'])
print(s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6     stevesmmith
dtype: object

### upper()

In [4]:
s = pd.Series(['Tom','William Rick','John','Alber@t',np.nan, '1234','SteveSmmith'])
print(s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6     STEVESMMITH
dtype: object

### len()

In [5]:
s = pd.Series(['Tom','William Rick','John','Alber@t',np.nan, '1234','SteveSmmith'])
print(s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    11.0
dtype: float64

### strip()

In [6]:
s = pd.Series(['Tom','William Rick','John','Alber@t',np.nan, '1234','SteveSmmith'])
print(s.str.strip())

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6     SteveSmmith
dtype: object

### split(pattern)

In [11]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.split(''))

0                               [, T, o, m, ]
1    [, W, i, l, l, i, a, m,  , R, i, c, k, ]
2                            [, J, o, h, n, ]
3                   [, A, l, b, e, r, @, t, ]
dtype: object

### cat(sep=pattern)

In [13]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.cat(sep = '_'))

Tom_William Rick_John_Alber@t

### get_dummies()

In [14]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.get_dummies())

   Alber@t  John  Tom  William Rick
0        0     0    1             0
1        0     0    0             1
2        0     1    0             0
3        1     0    0             0

### contains()

In [15]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.contains(''))

0    True
1    True
2    True
3    True
dtype: bool

### replace(a,b)

In [16]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.replace('@','$'))

0             Tom
1    William Rick
2            John
3         Alber$t
dtype: object

### repeat(value)

In [17]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.repeat(2))

0                      TomTom
1    William RickWilliam Rick
2                    JohnJohn
3              Alber@tAlber@t
dtype: object

### count(pattern)

In [18]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.count('m'))

0    1
1    1
2    0
3    0
dtype: int64

### startswith(pattern)

In [19]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.startswith('T'))

0     True
1    False
2    False
3    False
dtype: bool

### endswith(pattern)

In [20]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.endswith('t'))

0    False
1    False
2    False
3     True
dtype: bool

### find(pattern)

In [21]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

### findall(pattern)

In [22]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

### swapcase()

In [23]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

### islower()

In [24]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

### isupper()

In [25]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

### isnumeric()

In [26]:
s = pd.Series(['Tom','William Rick','John','Alber@t'])
print(s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool