In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.randn(4))
print(s)

0    0.017697
1    0.796136
2    1.235886
3   -0.555874
dtype: float64

#### Axes

In [3]:
s = pd.Series(np.random.randn(4))
print("The axes are :")
print(s.axes)

The axes are :
[RangeIndex(start=0, stop=4, step=1)]

#### Empty

In [4]:
s = pd.Series(np.random.randn(4))
print("Is object empty? :")
print(s.empty)

Is object empty? :
False

#### ndim

In [5]:
s = pd.Series(np.random.randn(4))
print(s)
print("The dimensions of object :")
print(s.ndim)

0   -0.585917
1   -0.460395
2   -0.279382
3   -1.131770
dtype: float64
The dimensions of object :
1

#### Size

In [6]:
s = pd.Series(np.random.randn(2))
print(s)
print("The size of object :")
print(s.size)

0    1.520426
1   -0.044713
dtype: float64
The size of object :
2

#### Values

In [7]:
s = pd.Series(np.random.randn(4))
print(s)
print("The actual data series is :")
print(s.values)

0    0.857172
1   -1.339492
2   -1.204603
3   -0.529672
dtype: float64
The actual data series is :
[ 0.85717225 -1.3394915  -1.20460294 -0.52967165]

#### Head & Tail

In [8]:
s = pd.Series(np.random.randn(4))
print(s)
print("The first 2 rows of data series :")
print(s.head(2))

0   -1.019284
1    1.197036
2   -0.809668
3    1.200201
dtype: float64
The first 2 rows of data series :
0   -1.019284
1    1.197036
dtype: float64

In [9]:
s = pd.Series(np.random.randn(4))
print(s)
print("The last 2 rows of data series :")
print(s.tail(2))

0   -0.442037
1    0.619426
2   -0.677675
3   -1.070303
dtype: float64
The last 2 rows of data series :
2   -0.677675
3   -1.070303
dtype: float64

#### Dictionary of Series

In [10]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

#### Transpose

In [11]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print("The transpose is :")
print(df.T)

The transpose is :
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [12]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [13]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.dtypes)

Name       object
Age         int64
Rating    float64
dtype: object

In [14]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.empty)

False

In [15]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.ndim)

2

In [16]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.shape)

(7, 3)

In [17]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.size)

21

In [18]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.values)

[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [19]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.head(2))

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24

In [20]:
d = {'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age' : pd.Series([25,26,25,23,30,29,23]),
     'Rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
     }

df = pd.DataFrame(d)
print(df.tail(2))

    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8