In [1]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [2]:
car = 'bmw'
car == 'bmw'

True

In [4]:
car = 'audi'
car == 'bmw'

False

In [5]:
car = 'Audi'
car == 'audi'

False

In [6]:
car = 'Audi'
car.lower() == 'audi'

True

In [7]:
car = 'Audi'
car.lower() == 'audi'
car

'Audi'

In [8]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
    print("Hold the anchovies!")

Hold the anchovies!

In [9]:
age = 18
age == 18

True

In [10]:
answer = 17
if answer != 42:
    print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

In [11]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [12]:
age_1 = 22
age_0 >= 21 and age_1 >= 21

True

In [13]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in requested_toppings

True

In [14]:
'pepperoni' in requested_toppings

False

In [15]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
 print(f"{user.title()}, you can post a response if you wish.")

Marie, you can post a response if you wish.

In [16]:
age = 19
if age >= 18:
    print("You are old enough to vote!")

You are old enough to vote!