In [1]:
a = 2.2.3
print(a)
#returns error because we cannot use 2 decimals

SyntaxError: invalid syntax (1896420873.py, line 1)

#### Sum of integers

In [3]:
print(1 + 2)
print(4 + 7)
print(9999 + 4523)

3
11
14522

#### Sum of Float

In [4]:
print(1.9 + 4.7)
print(22.9 + 14.97)
print(1211.9 + 4746.7)

6.6
37.87
5958.6

In [5]:
print(waqas)
#invalid syntax because strings can only be written in single or double quotes

NameError: name 'waqas' is not defined

In [7]:
print("Abdul")
print('Abdul')
print('Abdul147')

Abdul
Abdul
Abdul147

In [8]:
print("Abdul's House")
print("Waqas' House")

Abdul's House
Waqas' House

In [ ]:
''' This is first session and we are having python programming'''
# Triple Quotes are used for multiline strings