In [1]:
import pandas as pd

In [2]:
arts = pd.read_csv("modern_arts.csv")

In [3]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [4]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [5]:
arts["Gender"]

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [6]:
arts["Gender"].str.replace("(","").str.replace(")","")

0        Female
1          Male
2          Male
3          Male
4          Male
          ...
16720      Male
16721      Male
16722      Male
16723
16724      Male
Name: Gender, Length: 16725, dtype: object

In [7]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [8]:
arts["Gender"] = arts["Gender"].str.replace("(","").str.replace(")","")

In [9]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),Male,1903,Photography

In [10]:
arts["Gender"].unique()

array(['Female', 'Male', '', 'male'], dtype=object)

In [30]:
arts["Gender"].str.title() # abdul rehman -> Abdul Rehman

0                Female
1                  Male
2                  Male
3                  Male
4                  Male
              ...
16720              Male
16721              Male
16722              Male
16723    Gender Unknown
16724              Male
Name: Gender, Length: 16725, dtype: object

In [12]:
arts["Gender"] = arts["Gender"].str.title()

In [13]:
arts["Gender"].unique()

array(['Female', 'Male', ''], dtype=object)

In [14]:
gender = arts["Gender"].str.replace("''", "Gender unknown")

In [15]:
gender.unique()

array(['Female', 'Male', ''], dtype=object)

In [16]:
bol = arts["Gender"] == ''

In [17]:
bol

0        False
1        False
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723     True
16724    False
Name: Gender, Length: 16725, dtype: bool

In [18]:
bol.sum()

791

In [19]:
arts[bol] # boolean indexing

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
31,Untitled,Unknown,(),NaN,NaN,,c. 1925,Photography
90,Bar Tools,Studio Opi,(Italian),(1955),NaN,,1969,Architecture & Design
137,Nations,Slavs and Tatars,(),(2005),NaN,,2007,Prints & Illustrated Books
177,El Frente Popular de Madrid Al Frente Popular ...,J. Briones,(Spanish),NaN,NaN,,1936-1937,Architecture & Design
185,Untitled,Unknown,(),NaN,NaN,,1923-1951,Photography
...,...,...,...,...,...,...,...,...
16664,Untitled,Unknown,(),NaN,NaN,,c. 1960,Photography
16670,Inflatable Armchair,Quasar (Nguyen Manh Khanh),(Vietnamese),(1934),NaN,,1967-1968,Architecture & Design
16688,Poster of the French National Railroad,Album-miscellaneous,(Various),NaN,NaN,,1900-1943,Architecture & Design
16702,Salon de la Plume,Unknown,(Nationality Unknown),NaN,NaN,,1880-1910,Architecture & Design
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,,1931,Prints & Illustrated Books

In [20]:
arts.loc[bol, "Gender"]

31
90
137
177
185
        ..
16664
16670
16688
16702
16723
Name: Gender, Length: 791, dtype: object

In [21]:
arts.loc[bol, "Gender"] = "Gender Unknown"

In [22]:
arts["Gender"].unique()

array(['Female', 'Male', 'Gender Unknown'], dtype=object)

In [23]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,Male,2011,Prints & Illustrated Books

In [24]:
arts["Nationality"] = arts["Nationality"].str.replace("(","").str.replace(")","")

In [25]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,(1857),(1927),Male,1903,Photography

In [26]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German', '', 'Swiss',
       'Polish', 'Japanese', 'Portuguese', 'Austrian', 'Australian',
       'Italian', 'Chilean', 'Colombian', 'Mexican', 'Brazilian', 'Dutch',
       'Romanian', 'Venezuelan', 'Korean', 'Israeli', 'Argentine',
       'Indian', 'Nationality unknown', 'Swedish', 'Yugoslav', 'Cuban',
       'Nationality Unknown', 'Various', 'Luxembourgish', 'Croatian',
       'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican', 'Danish',
       'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian',
       'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan',
       'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander',
       'Moroccan', 'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian',
       'Icelandic', 'Haitian', 'Tajik', 'Irish', 'Norwegian',
       'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican', 'Palestinian',
       'Ukrainian', 'Angolan', 'Tunisian', 'Greek', 'Zimbabwean',
       'Bahamian', 'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian',
       'Filipino'], dtype=object)

In [27]:
arts.loc[arts["Nationality"] == '', "Nationality"] = 'Nationality Unknown'

In [28]:
arts["Nationality"] = arts["Nationality"].str.title()

In [29]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German',
       'Nationality Unknown', 'Swiss', 'Polish', 'Japanese', 'Portuguese',
       'Austrian', 'Australian', 'Italian', 'Chilean', 'Colombian',
       'Mexican', 'Brazilian', 'Dutch', 'Romanian', 'Venezuelan',
       'Korean', 'Israeli', 'Argentine', 'Indian', 'Swedish', 'Yugoslav',
       'Cuban', 'Various', 'Luxembourgish', 'Croatian', 'Bulgarian',
       'Hungarian', 'Georgian', 'Puerto Rican', 'Danish', 'Serbian',
       'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian', 'Finnish',
       'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan', 'Latvian',
       'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander', 'Moroccan',
       'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian', 'Icelandic',
       'Haitian', 'Tajik', 'Irish', 'Norwegian', 'Costa Rican',
       'Slovenian', 'Turkish', 'Mozambican', 'Palestinian', 'Ukrainian',
       'Angolan', 'Tunisian', 'Greek', 'Zimbabwean', 'Bahamian',
       'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian', 'Filipino'],
      dtype=object)

In [31]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,(1857),(1927),Male,1903,Photography

In [32]:
arts["BeginDate"].str.replace("(","").str.replace(")","").astype(int)

ValueError: cannot convert float NaN to integer

In [33]:
arts["BeginDate"].str.replace("(","").str.replace(")","").astype(float)

0        1947.0
1        1916.0
2        1870.0
3        1861.0
4        1857.0
          ...
16720    1898.0
16721    1942.0
16722    1882.0
16723       NaN
16724    1927.0
Name: BeginDate, Length: 16725, dtype: float64

In [34]:
arts["BeginDate"] = arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(float)

In [35]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,1898.0,(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,1882.0,(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books

In [36]:
arts.dtypes

Title           object
Artist          object
Nationality     object
BeginDate      float64
EndDate         object
Gender          object
Date            object
Department      object
dtype: object

In [37]:
arts["EndDate"].str.replace("(","").str.replace(")","").astype(float)

0        2013.0
1        2007.0
2        1943.0
3        1944.0
4        1927.0
          ...
16720    1986.0
16721       NaN
16722    1967.0
16723       NaN
16724       NaN
Name: EndDate, Length: 16725, dtype: float64

In [38]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  object
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.0+ MB

In [39]:

bad_chr = ["(", ")", "c","C", ".", "'","s", " "]

len(bad_chr)

8

In [40]:
date = "(c. 1947's)"

for i in bad_chr:
    date = date.replace(i, "")

In [41]:
date

'1947'