In [42]:
l = list(range(9))

In [43]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
l = list(range(1,9))

In [45]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
len(l)

8

In [47]:
list_count = 0

for i in l:
    print(i+1)

2
3
4
5
6
7
8
9

In [48]:
for _ in l:
    print(_)

1
2
3
4
5
6
7
8

In [49]:
list_count = 0

for _ in l:
    list_count += 1

In [50]:
list_count

8

In [51]:
sum(l)

36

In [52]:
total = 0

for i in l:
    total += i

In [53]:
total

36

In [54]:
url =  "https://api.exchangerate-api.com/v4/latest/USD"

In [55]:
import requests

In [56]:
response = requests.get(url)

In [57]:
response.status_code

200

In [58]:
data = response.json()

In [59]:
type(data)

dict

In [60]:
data

{'provider': 'https://www.exchangerate-api.com',
 'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'terms': 'https://www.exchangerate-api.com/terms',
 'base': 'USD',
 'date': '2024-01-21',
 'time_last_updated': 1705795201,
 'rates': {'USD': 1,
  'AED': 3.67,
  'AFN': 72.88,
  'ALL': 95.72,
  'AMD': 405.26,
  'ANG': 1.79,
  'AOA': 842.08,
  'ARS': 819.75,
  'AUD': 1.52,
  'AWG': 1.79,
  'AZN': 1.7,
  'BAM': 1.8,
  'BBD': 2,
  'BDT': 109.63,
  'BGN': 1.8,
  'BHD': 0.376,
  'BIF': 2839.91,
  'BMD': 1,
  'BND': 1.34,
  'BOB': 6.89,
  'BRL': 4.93,
  'BSD': 1,
  'BTN': 83.14,
  'BWP': 13.76,
  'BYN': 3.2,
  'BZD': 2,
  'CAD': 1.35,
  'CDF': 2702.29,
  'CHF': 0.869,
  'CLP': 917.07,
  'CNY': 7.2,
  'COP': 3967.51,
  'CRC': 516.03,
  'CUP': 24,
  'CVE': 101.27,
  'CZK': 22.77,
  'DJF': 177.72,
  'DKK': 6.85,
  'DOP': 58.07,
  'DZD': 134.45,
  'EGP': 30.98,
  'ERN': 15,
  'ETB': 56.59,
  'EUR': 0.918,
  'FJD': 2.24,
  'FKP': 0.788,
  'FOK': 6.85,
  'GBP': 0.788,
  'GEL': 2.66,
  'GGP': 0.788,
  'GHS': 12.16,
  'GIP': 0.788,
  'GMD': 65.72,
  'GNF': 8579.88,
  'GTQ': 7.77,
  'GYD': 209.23,
  'HKD': 7.82,
  'HNL': 24.52,
  'HRK': 6.92,
  'HTG': 131.93,
  'HUF': 350.89,
  'IDR': 15617.11,
  'ILS': 3.75,
  'IMP': 0.788,
  'INR': 83.14,
  'IQD': 1307.77,
  'IRR': 41888.46,
  'ISK': 136.71,
  'JEP': 0.788,
  'JMD': 155.08,
  'JOD': 0.709,
  'JPY': 148.14,
  'KES': 160.93,
  'KGS': 89.44,
  'KHR': 4089.54,
  'KID': 1.52,
  'KMF': 451.82,
  'KRW': 1334.64,
  'KWD': 0.307,
  'KYD': 0.833,
  'KZT': 450.8,
  'LAK': 20464.14,
  'LBP': 15000,
  'LKR': 320.12,
  'LRD': 190.66,
  'LSL': 19.01,
  'LYD': 4.82,
  'MAD': 9.96,
  'MDL': 17.64,
  'MGA': 4542.7,
  'MKD': 56.69,
  'MMK': 2090.67,
  'MNT': 3426.56,
  'MOP': 8.05,
  'MRU': 39.57,
  'MUR': 44.11,
  'MVR': 15.41,
  'MWK': 1692.15,
  'MXN': 17.11,
  'MYR': 4.72,
  'MZN': 63.89,
  'NAD': 19.01,
  'NGN': 885.47,
  'NIO': 36.4,
  'NOK': 10.49,
  'NPR': 133.03,
  'NZD': 1.64,
  'OMR': 0.384,
  'PAB': 1,
  'PEN': 3.74,
  'PGK': 3.71,
  'PHP': 55.89,
  'PKR': 277.14,
  'PLN': 4.01,
  'PYG': 7288.03,
  'QAR': 3.64,
  'RON': 4.57,
  'RSD': 107.66,
  'RUB': 89.43,
  'RWF': 1305.35,
  'SAR': 3.75,
  'SBD': 8.45,
  'SCR': 13.4,
  'SDG': 508.97,
  'SEK': 10.47,
  'SGD': 1.34,
  'SHP': 0.788,
  'SLE': 22.7,
  'SLL': 22701.74,
  'SOS': 570.98,
  'SRD': 36.86,
  'SSP': 1099.84,
  'STN': 22.5,
  'SYP': 12836.55,
  'SZL': 19.01,
  'THB': 35.53,
  'TJS': 10.92,
  'TMT': 3.5,
  'TND': 3.11,
  'TOP': 2.33,
  'TRY': 30.22,
  'TTD': 6.74,
  'TVD': 1.52,
  'TWD': 31.34,
  'TZS': 2517.97,
  'UAH': 37.58,
  'UGX': 3803.95,
  'UYU': 39.12,
  'UZS': 12292.77,
  'VES': 36.15,
  'VND': 24506.04,
  'VUV': 120.43,
  'WST': 2.73,
  'XAF': 602.43,
  'XCD': 2.7,
  'XDR': 0.751,
  'XOF': 602.43,
  'XPF': 109.59,
  'YER': 248.73,
  'ZAR': 19.01,
  'ZMW': 26.4,
  'ZWL': 8902.78}}

In [61]:
data.keys()

dict_keys(['provider', 'WARNING_UPGRADE_TO_V6', 'terms', 'base', 'date', 'time_last_updated', 'rates'])

In [62]:
data["rates"]# dictonary

{'USD': 1,
 'AED': 3.67,
 'AFN': 72.88,
 'ALL': 95.72,
 'AMD': 405.26,
 'ANG': 1.79,
 'AOA': 842.08,
 'ARS': 819.75,
 'AUD': 1.52,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.8,
 'BBD': 2,
 'BDT': 109.63,
 'BGN': 1.8,
 'BHD': 0.376,
 'BIF': 2839.91,
 'BMD': 1,
 'BND': 1.34,
 'BOB': 6.89,
 'BRL': 4.93,
 'BSD': 1,
 'BTN': 83.14,
 'BWP': 13.76,
 'BYN': 3.2,
 'BZD': 2,
 'CAD': 1.35,
 'CDF': 2702.29,
 'CHF': 0.869,
 'CLP': 917.07,
 'CNY': 7.2,
 'COP': 3967.51,
 'CRC': 516.03,
 'CUP': 24,
 'CVE': 101.27,
 'CZK': 22.77,
 'DJF': 177.72,
 'DKK': 6.85,
 'DOP': 58.07,
 'DZD': 134.45,
 'EGP': 30.98,
 'ERN': 15,
 'ETB': 56.59,
 'EUR': 0.918,
 'FJD': 2.24,
 'FKP': 0.788,
 'FOK': 6.85,
 'GBP': 0.788,
 'GEL': 2.66,
 'GGP': 0.788,
 'GHS': 12.16,
 'GIP': 0.788,
 'GMD': 65.72,
 'GNF': 8579.88,
 'GTQ': 7.77,
 'GYD': 209.23,
 'HKD': 7.82,
 'HNL': 24.52,
 'HRK': 6.92,
 'HTG': 131.93,
 'HUF': 350.89,
 'IDR': 15617.11,
 'ILS': 3.75,
 'IMP': 0.788,
 'INR': 83.14,
 'IQD': 1307.77,
 'IRR': 41888.46,
 'ISK': 136.71,
 'JEP': 0.788,
 'JMD': 155.08,
 'JOD': 0.709,
 'JPY': 148.14,
 'KES': 160.93,
 'KGS': 89.44,
 'KHR': 4089.54,
 'KID': 1.52,
 'KMF': 451.82,
 'KRW': 1334.64,
 'KWD': 0.307,
 'KYD': 0.833,
 'KZT': 450.8,
 'LAK': 20464.14,
 'LBP': 15000,
 'LKR': 320.12,
 'LRD': 190.66,
 'LSL': 19.01,
 'LYD': 4.82,
 'MAD': 9.96,
 'MDL': 17.64,
 'MGA': 4542.7,
 'MKD': 56.69,
 'MMK': 2090.67,
 'MNT': 3426.56,
 'MOP': 8.05,
 'MRU': 39.57,
 'MUR': 44.11,
 'MVR': 15.41,
 'MWK': 1692.15,
 'MXN': 17.11,
 'MYR': 4.72,
 'MZN': 63.89,
 'NAD': 19.01,
 'NGN': 885.47,
 'NIO': 36.4,
 'NOK': 10.49,
 'NPR': 133.03,
 'NZD': 1.64,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.74,
 'PGK': 3.71,
 'PHP': 55.89,
 'PKR': 277.14,
 'PLN': 4.01,
 'PYG': 7288.03,
 'QAR': 3.64,
 'RON': 4.57,
 'RSD': 107.66,
 'RUB': 89.43,
 'RWF': 1305.35,
 'SAR': 3.75,
 'SBD': 8.45,
 'SCR': 13.4,
 'SDG': 508.97,
 'SEK': 10.47,
 'SGD': 1.34,
 'SHP': 0.788,
 'SLE': 22.7,
 'SLL': 22701.74,
 'SOS': 570.98,
 'SRD': 36.86,
 'SSP': 1099.84,
 'STN': 22.5,
 'SYP': 12836.55,
 'SZL': 19.01,
 'THB': 35.53,
 'TJS': 10.92,
 'TMT': 3.5,
 'TND': 3.11,
 'TOP': 2.33,
 'TRY': 30.22,
 'TTD': 6.74,
 'TVD': 1.52,
 'TWD': 31.34,
 'TZS': 2517.97,
 'UAH': 37.58,
 'UGX': 3803.95,
 'UYU': 39.12,
 'UZS': 12292.77,
 'VES': 36.15,
 'VND': 24506.04,
 'VUV': 120.43,
 'WST': 2.73,
 'XAF': 602.43,
 'XCD': 2.7,
 'XDR': 0.751,
 'XOF': 602.43,
 'XPF': 109.59,
 'YER': 248.73,
 'ZAR': 19.01,
 'ZMW': 26.4,
 'ZWL': 8902.78}

In [63]:
data["rates"]["GBP"]*100

78.8

In [64]:
def curr_conv():
    response=requests.get(url)
    data = response.json()
    amount = 100
    conversion_currency = "GBP"
    data["rates"][conversion_currency]*amount

In [65]:
curr_conv()

In [66]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100 
    conversion_currency = "GBP"
    data["rates"][conversion_currency]*100
    return "Abdul"

In [67]:
curr_conv()

'Abdul'

In [68]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100 
    conversion_currency = "GBP"
    conv = data["rates"][conversion_currency]*100
    return conv

In [69]:
curr_conv()

78.8

In [72]:
def curr_conv(amount):
    response = requests.get(url)
    data = response.json()
    # amount = 100 
    conversion_currency = "GBP"
    conv = data["rates"][conversion_currency]*amount
    return conv

In [73]:
curr_conv(555)

437.34000000000003

In [74]:
def curr_conv(amount, targrt_curr):
    response = requests.get(url)
    data = response.json()
    # amount = 100 
    # conversion_currency = "GBP"
    conv = data["rates"][targrt_curr]*amount
    return conv

In [76]:
curr_conv(333,"CAD")

449.55

In [77]:
curr_conv(1,"PKR")

277.14

In [78]:
curr_conv(1, "INR")

83.14

In [79]:
def curr_conv(amount, targrt_curr):
    response = requests.get(url)
    data = response.json()
    # amount = 100 
    # conversion_currency = "GBP"
    conv = data["rates"][targrt_curr]*amount
    return targrt_curr + " " + str(conv)

In [80]:
curr_conv(2,"JPY")

'JPY 296.28'

In [81]:
import json

In [82]:
with open("sales.json") as f:
    sales = json.load(f)

In [83]:
type(sales)

dict

In [84]:
print(sales)

{'3942': {'purchase_total': 100.5, 'currency': 'CAD'}, '8791': {'purchase_total': 75.25, 'currency': 'EUR'}, '5623': {'purchase_total': 50.75, 'currency': 'GBP'}, '1234': {'purchase_total': 200.1, 'currency': 'USD'}, '5678': {'purchase_total': 150.75, 'currency': 'JPY'}, '9876': {'purchase_total': 300.5, 'currency': 'CAD'}, '2457': {'purchase_total': 80.0, 'currency': 'USD'}, '7365': {'purchase_total': 55.25, 'currency': 'GBP'}, '8910': {'purchase_total': 120.6, 'currency': 'CAD'}, '4321': {'purchase_total': 180.25, 'currency': 'EUR'}, '6789': {'purchase_total': 90.75, 'currency': 'JPY'}, '5432': {'purchase_total': 250.9, 'currency': 'USD'}, '1098': {'purchase_total': 70.25, 'currency': 'GBP'}, '3647': {'purchase_total': 140.5, 'currency': 'CAD'}, '2190': {'purchase_total': 95.8, 'currency': 'EUR'}, '8765': {'purchase_total': 180.75, 'currency': 'JPY'}, '9875': {'purchase_total': 210.25, 'currency': 'USD'}, '1342': {'purchase_total': 65.5, 'currency': 'GBP'}, '7690': {'purchase_total': 110.2, 'currency': 'CAD'}, '2389': {'purchase_total': 155.35, 'currency': 'EUR'}, '6574': {'purchase_total': 80.75, 'currency': 'JPY'}, '9832': {'purchase_total': 280.4, 'currency': 'USD'}, '3257': {'purchase_total': 60.25, 'currency': 'GBP'}, '7194': {'purchase_total': 130.75, 'currency': 'CAD'}, '8746': {'purchase_total': 175.9, 'currency': 'EUR'}, '2019': {'purchase_total': 85.75, 'currency': 'JPY'}, '5437': {'purchase_total': 195.25, 'currency': 'USD'}, '1025': {'purchase_total': 50.5, 'currency': 'GBP'}, '6932': {'purchase_total': 120.3, 'currency': 'CAD'}}

In [85]:
sales

{'3942': {'purchase_total': 100.5, 'currency': 'CAD'},
 '8791': {'purchase_total': 75.25, 'currency': 'EUR'},
 '5623': {'purchase_total': 50.75, 'currency': 'GBP'},
 '1234': {'purchase_total': 200.1, 'currency': 'USD'},
 '5678': {'purchase_total': 150.75, 'currency': 'JPY'},
 '9876': {'purchase_total': 300.5, 'currency': 'CAD'},
 '2457': {'purchase_total': 80.0, 'currency': 'USD'},
 '7365': {'purchase_total': 55.25, 'currency': 'GBP'},
 '8910': {'purchase_total': 120.6, 'currency': 'CAD'},
 '4321': {'purchase_total': 180.25, 'currency': 'EUR'},
 '6789': {'purchase_total': 90.75, 'currency': 'JPY'},
 '5432': {'purchase_total': 250.9, 'currency': 'USD'},
 '1098': {'purchase_total': 70.25, 'currency': 'GBP'},
 '3647': {'purchase_total': 140.5, 'currency': 'CAD'},
 '2190': {'purchase_total': 95.8, 'currency': 'EUR'},
 '8765': {'purchase_total': 180.75, 'currency': 'JPY'},
 '9875': {'purchase_total': 210.25, 'currency': 'USD'},
 '1342': {'purchase_total': 65.5, 'currency': 'GBP'},
 '7690': {'purchase_total': 110.2, 'currency': 'CAD'},
 '2389': {'purchase_total': 155.35, 'currency': 'EUR'},
 '6574': {'purchase_total': 80.75, 'currency': 'JPY'},
 '9832': {'purchase_total': 280.4, 'currency': 'USD'},
 '3257': {'purchase_total': 60.25, 'currency': 'GBP'},
 '7194': {'purchase_total': 130.75, 'currency': 'CAD'},
 '8746': {'purchase_total': 175.9, 'currency': 'EUR'},
 '2019': {'purchase_total': 85.75, 'currency': 'JPY'},
 '5437': {'purchase_total': 195.25, 'currency': 'USD'},
 '1025': {'purchase_total': 50.5, 'currency': 'GBP'},
 '6932': {'purchase_total': 120.3, 'currency': 'CAD'}}

In [86]:
len(sales)

29

In [87]:
for i in sales:
    print(i)

3942
8791
5623
1234
5678
9876
2457
7365
8910
4321
6789
5432
1098
3647
2190
8765
9875
1342
7690
2389
6574
9832
3257
7194
8746
2019
5437
1025
6932

In [89]:
for v in sales.values():
    print(v)

{'purchase_total': 100.5, 'currency': 'CAD'}
{'purchase_total': 75.25, 'currency': 'EUR'}
{'purchase_total': 50.75, 'currency': 'GBP'}
{'purchase_total': 200.1, 'currency': 'USD'}
{'purchase_total': 150.75, 'currency': 'JPY'}
{'purchase_total': 300.5, 'currency': 'CAD'}
{'purchase_total': 80.0, 'currency': 'USD'}
{'purchase_total': 55.25, 'currency': 'GBP'}
{'purchase_total': 120.6, 'currency': 'CAD'}
{'purchase_total': 180.25, 'currency': 'EUR'}
{'purchase_total': 90.75, 'currency': 'JPY'}
{'purchase_total': 250.9, 'currency': 'USD'}
{'purchase_total': 70.25, 'currency': 'GBP'}
{'purchase_total': 140.5, 'currency': 'CAD'}
{'purchase_total': 95.8, 'currency': 'EUR'}
{'purchase_total': 180.75, 'currency': 'JPY'}
{'purchase_total': 210.25, 'currency': 'USD'}
{'purchase_total': 65.5, 'currency': 'GBP'}
{'purchase_total': 110.2, 'currency': 'CAD'}
{'purchase_total': 155.35, 'currency': 'EUR'}
{'purchase_total': 80.75, 'currency': 'JPY'}
{'purchase_total': 280.4, 'currency': 'USD'}
{'purchase_total': 60.25, 'currency': 'GBP'}
{'purchase_total': 130.75, 'currency': 'CAD'}
{'purchase_total': 175.9, 'currency': 'EUR'}
{'purchase_total': 85.75, 'currency': 'JPY'}
{'purchase_total': 195.25, 'currency': 'USD'}
{'purchase_total': 50.5, 'currency': 'GBP'}
{'purchase_total': 120.3, 'currency': 'CAD'}

In [90]:
for v in sales.values():
    purchase_total = v["purchase_total"]
    currency = v["currency"]

    print(purchase_total,currency)

100.5 CAD
75.25 EUR
50.75 GBP
200.1 USD
150.75 JPY
300.5 CAD
80.0 USD
55.25 GBP
120.6 CAD
180.25 EUR
90.75 JPY
250.9 USD
70.25 GBP
140.5 CAD
95.8 EUR
180.75 JPY
210.25 USD
65.5 GBP
110.2 CAD
155.35 EUR
80.75 JPY
280.4 USD
60.25 GBP
130.75 CAD
175.9 EUR
85.75 JPY
195.25 USD
50.5 GBP
120.3 CAD

In [91]:
for v in sales.values():
    purchase_total = v["purchase_total"]
    currency = v["currency"]
    
    data = requests.get(url).json()
    exc_rates = data["rates"][currency]

    usd = purchase_total/exc_rates

    print(usd)

74.44444444444444
81.97167755991285
64.40355329949239
200.1
1.017618469015796
222.59259259259258
80.0
70.11421319796953
89.33333333333333
196.35076252723312
0.6125961927906035
250.9
89.1497461928934
104.07407407407406
104.35729847494552
1.2201296071283922
210.25
83.12182741116752
81.62962962962963
169.22657952069716
0.5450924800864048
280.4
76.45939086294416
96.85185185185185
191.61220043572985
0.5788443364385042
195.25
64.08629441624365
89.1111111111111

In [92]:
for v in sales.values():
    purchase_total = v["purchase_total"]
    currency = v["currency"]
    
    data = requests.get(url).json()
    exc_rates = data["rates"][currency]

    usd = purchase_total/exc_rates

    print(usd, currency)

74.44444444444444 CAD
81.97167755991285 EUR
64.40355329949239 GBP
200.1 USD
1.017618469015796 JPY
222.59259259259258 CAD
80.0 USD
70.11421319796953 GBP
89.33333333333333 CAD
196.35076252723312 EUR
0.6125961927906035 JPY
250.9 USD
89.1497461928934 GBP
104.07407407407406 CAD
104.35729847494552 EUR
1.2201296071283922 JPY
210.25 USD
83.12182741116752 GBP
81.62962962962963 CAD
169.22657952069716 EUR
0.5450924800864048 JPY
280.4 USD
76.45939086294416 GBP
96.85185185185185 CAD
191.61220043572985 EUR
0.5788443364385042 JPY
195.25 USD
64.08629441624365 GBP
89.1111111111111 CAD

In [93]:
total_sales_usd = 0
for v in sales.values():
    purchase_total = v["purchase_total"]
    currency = v["currency"]

    exc_rates = data["rates"][currency]

    usd_amount = purchase_total/exc_rates

    total_sales_usd += usd_amount

In [94]:
total_sales_usd

3169.7648620217265

In [98]:
def usd_sales():

    total_sales_usd = 0
    for v in sales.values():
        purchase_total = v['purchase_total']
        currency = v['currency']

    #     data = requests.get(url).json()
        exc_rates = data["rates"][currency]

        usd_amount = purchase_total/exc_rates

        total_sales_usd += usd_amount
    return total_sales_usd

In [101]:
usd_sales()

3169.7648620217265

In [102]:
def usd_sales(reporting_curr, ):
    
    """
    This is build to produce a total sales in reporting currency
    """

    total_sales = 0
    for v in sales.values():
        purchase_total = v['purchase_total']
        currency = v['currency']

    #     data = requests.get(url).json()
        exc_rates = data["rates"][currency]

        usd_amount = purchase_total/exc_rates

        total_sales_usd += usd_amount
    return total_sales_usd

In [103]:
usd_sales.__doc__

'\n    This is build to produce a total sales in reporting currency\n    \n    abbbcbbcbcbc\n    bababab\n    \n    \n    '

In [104]:
len.__doc__

'Return the number of items in a container.'

In [105]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [106]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [107]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [108]:
print.__doc__

'Prints the values to a stream, or to sys.stdout by default.\n\n  sep\n    string inserted between values, default a space.\n  end\n    string appended after the last value, default a newline.\n  file\n    a file-like object (stream); defaults to the current sys.stdout.\n  flush\n    whether to forcibly flush the stream.'