In [2]:
import requests

In [3]:
url = "https://api.exchangerate-api.com/v4/latest/usd"

In [4]:
response = requests.get(url)

In [5]:
response

In [6]:
data = response.json()

data

{'provider': 'https://www.exchangerate-api.com',
 'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'terms': 'https://www.exchangerate-api.com/terms',
 'base': 'USD',
 'date': '2024-01-31',
 'time_last_updated': 1706659201,
 'rates': {'USD': 1,
  'AED': 3.67,
  'AFN': 73.42,
  'ALL': 96.85,
  'AMD': 404.74,
  'ANG': 1.79,
  'AOA': 839.62,
  'ARS': 825.75,
  'AUD': 1.52,
  'AWG': 1.79,
  'AZN': 1.7,
  'BAM': 1.8,
  'BBD': 2,
  'BDT': 109.63,
  'BGN': 1.8,
  'BHD': 0.376,
  'BIF': 2842.76,
  'BMD': 1,
  'BND': 1.34,
  'BOB': 6.84,
  'BRL': 4.95,
  'BSD': 1,
  'BTN': 83.14,
  'BWP': 13.69,
  'BYN': 3.22,
  'BZD': 2,
  'CAD': 1.34,
  'CDF': 2707.68,
  'CHF': 0.862,
  'CLP': 923.33,
  'CNY': 7.18,
  'COP': 4013.1,
  'CRC': 515.59,
  'CUP': 24,
  'CVE': 101.71,
  'CZK': 22.88,
  'DJF': 177.72,
  'DKK': 6.88,
  'DOP': 57.31,
  'DZD': 134.12,
  'EGP': 30.94,
  'ERN': 15,
  'ETB': 56.64,
  'EUR': 0.922,
  'FJD': 2.23,
  'FKP': 0.788,
  'FOK': 6.88,
  'GBP': 0.788,
  'GEL': 2.68,
  'GGP': 0.788,
  'GHS': 12.36,
  'GIP': 0.788,
  'GMD': 65.66,
  'GNF': 8574.57,
  'GTQ': 7.73,
  'GYD': 209.36,
  'HKD': 7.82,
  'HNL': 24.4,
  'HRK': 6.95,
  'HTG': 131.67,
  'HUF': 356.65,
  'IDR': 15788.15,
  'ILS': 3.65,
  'IMP': 0.788,
  'INR': 83.14,
  'IQD': 1308.75,
  'IRR': 42040.1,
  'ISK': 136.86,
  'JEP': 0.788,
  'JMD': 155.49,
  'JOD': 0.709,
  'JPY': 147.52,
  'KES': 161.82,
  'KGS': 89.34,
  'KHR': 4100.33,
  'KID': 1.52,
  'KMF': 453.79,
  'KRW': 1328.95,
  'KWD': 0.307,
  'KYD': 0.833,
  'KZT': 449.1,
  'LAK': 20355.86,
  'LBP': 15000,
  'LKR': 317.16,
  'LRD': 188.99,
  'LSL': 18.8,
  'LYD': 4.82,
  'MAD': 10.01,
  'MDL': 17.73,
  'MGA': 4529.05,
  'MKD': 57,
  'MMK': 2079.07,
  'MNT': 3410.28,
  'MOP': 8.05,
  'MRU': 40.3,
  'MUR': 44.56,
  'MVR': 15.44,
  'MWK': 1691.5,
  'MXN': 17.17,
  'MYR': 4.73,
  'MZN': 63.88,
  'NAD': 18.8,
  'NGN': 896.05,
  'NIO': 36.19,
  'NOK': 10.44,
  'NPR': 133.02,
  'NZD': 1.63,
  'OMR': 0.384,
  'PAB': 1,
  'PEN': 3.81,
  'PGK': 3.68,
  'PHP': 56.4,
  'PKR': 279.93,
  'PLN': 4.02,
  'PYG': 7286.48,
  'QAR': 3.64,
  'RON': 4.59,
  'RSD': 108.11,
  'RUB': 89.69,
  'RWF': 1309.29,
  'SAR': 3.75,
  'SBD': 8.31,
  'SCR': 13.19,
  'SDG': 449.42,
  'SEK': 10.41,
  'SGD': 1.34,
  'SHP': 0.788,
  'SLE': 22.48,
  'SLL': 22479.91,
  'SOS': 571.65,
  'SRD': 36.86,
  'SSP': 1105.32,
  'STN': 22.6,
  'SYP': 12749.95,
  'SZL': 18.8,
  'THB': 35.37,
  'TJS': 10.91,
  'TMT': 3.5,
  'TND': 3.11,
  'TOP': 2.34,
  'TRY': 30.36,
  'TTD': 6.7,
  'TVD': 1.52,
  'TWD': 31.12,
  'TZS': 2537.21,
  'UAH': 37.88,
  'UGX': 3808.06,
  'UYU': 38.97,
  'UZS': 12368.69,
  'VES': 36.2,
  'VND': 24334.05,
  'VUV': 119.76,
  'WST': 2.73,
  'XAF': 605.06,
  'XCD': 2.7,
  'XDR': 0.752,
  'XOF': 605.06,
  'XPF': 110.07,
  'YER': 247.34,
  'ZAR': 18.8,
  'ZMW': 27.1,
  'ZWL': 9967.52}}

In [7]:
data["rates"]["PKR"]

279.93

In [8]:
data["rates"]

{'USD': 1,
 'AED': 3.67,
 'AFN': 73.42,
 'ALL': 96.85,
 'AMD': 404.74,
 'ANG': 1.79,
 'AOA': 839.62,
 'ARS': 825.75,
 'AUD': 1.52,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.8,
 'BBD': 2,
 'BDT': 109.63,
 'BGN': 1.8,
 'BHD': 0.376,
 'BIF': 2842.76,
 'BMD': 1,
 'BND': 1.34,
 'BOB': 6.84,
 'BRL': 4.95,
 'BSD': 1,
 'BTN': 83.14,
 'BWP': 13.69,
 'BYN': 3.22,
 'BZD': 2,
 'CAD': 1.34,
 'CDF': 2707.68,
 'CHF': 0.862,
 'CLP': 923.33,
 'CNY': 7.18,
 'COP': 4013.1,
 'CRC': 515.59,
 'CUP': 24,
 'CVE': 101.71,
 'CZK': 22.88,
 'DJF': 177.72,
 'DKK': 6.88,
 'DOP': 57.31,
 'DZD': 134.12,
 'EGP': 30.94,
 'ERN': 15,
 'ETB': 56.64,
 'EUR': 0.922,
 'FJD': 2.23,
 'FKP': 0.788,
 'FOK': 6.88,
 'GBP': 0.788,
 'GEL': 2.68,
 'GGP': 0.788,
 'GHS': 12.36,
 'GIP': 0.788,
 'GMD': 65.66,
 'GNF': 8574.57,
 'GTQ': 7.73,
 'GYD': 209.36,
 'HKD': 7.82,
 'HNL': 24.4,
 'HRK': 6.95,
 'HTG': 131.67,
 'HUF': 356.65,
 'IDR': 15788.15,
 'ILS': 3.65,
 'IMP': 0.788,
 'INR': 83.14,
 'IQD': 1308.75,
 'IRR': 42040.1,
 'ISK': 136.86,
 'JEP': 0.788,
 'JMD': 155.49,
 'JOD': 0.709,
 'JPY': 147.52,
 'KES': 161.82,
 'KGS': 89.34,
 'KHR': 4100.33,
 'KID': 1.52,
 'KMF': 453.79,
 'KRW': 1328.95,
 'KWD': 0.307,
 'KYD': 0.833,
 'KZT': 449.1,
 'LAK': 20355.86,
 'LBP': 15000,
 'LKR': 317.16,
 'LRD': 188.99,
 'LSL': 18.8,
 'LYD': 4.82,
 'MAD': 10.01,
 'MDL': 17.73,
 'MGA': 4529.05,
 'MKD': 57,
 'MMK': 2079.07,
 'MNT': 3410.28,
 'MOP': 8.05,
 'MRU': 40.3,
 'MUR': 44.56,
 'MVR': 15.44,
 'MWK': 1691.5,
 'MXN': 17.17,
 'MYR': 4.73,
 'MZN': 63.88,
 'NAD': 18.8,
 'NGN': 896.05,
 'NIO': 36.19,
 'NOK': 10.44,
 'NPR': 133.02,
 'NZD': 1.63,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.81,
 'PGK': 3.68,
 'PHP': 56.4,
 'PKR': 279.93,
 'PLN': 4.02,
 'PYG': 7286.48,
 'QAR': 3.64,
 'RON': 4.59,
 'RSD': 108.11,
 'RUB': 89.69,
 'RWF': 1309.29,
 'SAR': 3.75,
 'SBD': 8.31,
 'SCR': 13.19,
 'SDG': 449.42,
 'SEK': 10.41,
 'SGD': 1.34,
 'SHP': 0.788,
 'SLE': 22.48,
 'SLL': 22479.91,
 'SOS': 571.65,
 'SRD': 36.86,
 'SSP': 1105.32,
 'STN': 22.6,
 'SYP': 12749.95,
 'SZL': 18.8,
 'THB': 35.37,
 'TJS': 10.91,
 'TMT': 3.5,
 'TND': 3.11,
 'TOP': 2.34,
 'TRY': 30.36,
 'TTD': 6.7,
 'TVD': 1.52,
 'TWD': 31.12,
 'TZS': 2537.21,
 'UAH': 37.88,
 'UGX': 3808.06,
 'UYU': 38.97,
 'UZS': 12368.69,
 'VES': 36.2,
 'VND': 24334.05,
 'VUV': 119.76,
 'WST': 2.73,
 'XAF': 605.06,
 'XCD': 2.7,
 'XDR': 0.752,
 'XOF': 605.06,
 'XPF': 110.07,
 'YER': 247.34,
 'ZAR': 18.8,
 'ZMW': 27.1,
 'ZWL': 9967.52}

In [9]:
def weakest_cur(url): # Parameter
    data = requests.get(url).json()
    weekest_rates = 0
    currency_code = ""
    
    rates = data["rates"] # dictionary
    
    for country_code in rates:
        exc_rate = rates[country_code]
        if exc_rate > weekest_rates:
            weekest_rates= exc_rate
            currency_code = country_code
            
    return country_code

In [10]:
weakest_cur(url) # url argumnet

'ZWL'

In [11]:
data["rates"][weakest_cur(url)]

9967.52

In [12]:
usd_api_data = data

In [13]:
weakest_rates = 0
weakest_cou_code = ""

rates = data["rates"]

rates

{'USD': 1,
 'AED': 3.67,
 'AFN': 73.42,
 'ALL': 96.85,
 'AMD': 404.74,
 'ANG': 1.79,
 'AOA': 839.62,
 'ARS': 825.75,
 'AUD': 1.52,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.8,
 'BBD': 2,
 'BDT': 109.63,
 'BGN': 1.8,
 'BHD': 0.376,
 'BIF': 2842.76,
 'BMD': 1,
 'BND': 1.34,
 'BOB': 6.84,
 'BRL': 4.95,
 'BSD': 1,
 'BTN': 83.14,
 'BWP': 13.69,
 'BYN': 3.22,
 'BZD': 2,
 'CAD': 1.34,
 'CDF': 2707.68,
 'CHF': 0.862,
 'CLP': 923.33,
 'CNY': 7.18,
 'COP': 4013.1,
 'CRC': 515.59,
 'CUP': 24,
 'CVE': 101.71,
 'CZK': 22.88,
 'DJF': 177.72,
 'DKK': 6.88,
 'DOP': 57.31,
 'DZD': 134.12,
 'EGP': 30.94,
 'ERN': 15,
 'ETB': 56.64,
 'EUR': 0.922,
 'FJD': 2.23,
 'FKP': 0.788,
 'FOK': 6.88,
 'GBP': 0.788,
 'GEL': 2.68,
 'GGP': 0.788,
 'GHS': 12.36,
 'GIP': 0.788,
 'GMD': 65.66,
 'GNF': 8574.57,
 'GTQ': 7.73,
 'GYD': 209.36,
 'HKD': 7.82,
 'HNL': 24.4,
 'HRK': 6.95,
 'HTG': 131.67,
 'HUF': 356.65,
 'IDR': 15788.15,
 'ILS': 3.65,
 'IMP': 0.788,
 'INR': 83.14,
 'IQD': 1308.75,
 'IRR': 42040.1,
 'ISK': 136.86,
 'JEP': 0.788,
 'JMD': 155.49,
 'JOD': 0.709,
 'JPY': 147.52,
 'KES': 161.82,
 'KGS': 89.34,
 'KHR': 4100.33,
 'KID': 1.52,
 'KMF': 453.79,
 'KRW': 1328.95,
 'KWD': 0.307,
 'KYD': 0.833,
 'KZT': 449.1,
 'LAK': 20355.86,
 'LBP': 15000,
 'LKR': 317.16,
 'LRD': 188.99,
 'LSL': 18.8,
 'LYD': 4.82,
 'MAD': 10.01,
 'MDL': 17.73,
 'MGA': 4529.05,
 'MKD': 57,
 'MMK': 2079.07,
 'MNT': 3410.28,
 'MOP': 8.05,
 'MRU': 40.3,
 'MUR': 44.56,
 'MVR': 15.44,
 'MWK': 1691.5,
 'MXN': 17.17,
 'MYR': 4.73,
 'MZN': 63.88,
 'NAD': 18.8,
 'NGN': 896.05,
 'NIO': 36.19,
 'NOK': 10.44,
 'NPR': 133.02,
 'NZD': 1.63,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.81,
 'PGK': 3.68,
 'PHP': 56.4,
 'PKR': 279.93,
 'PLN': 4.02,
 'PYG': 7286.48,
 'QAR': 3.64,
 'RON': 4.59,
 'RSD': 108.11,
 'RUB': 89.69,
 'RWF': 1309.29,
 'SAR': 3.75,
 'SBD': 8.31,
 'SCR': 13.19,
 'SDG': 449.42,
 'SEK': 10.41,
 'SGD': 1.34,
 'SHP': 0.788,
 'SLE': 22.48,
 'SLL': 22479.91,
 'SOS': 571.65,
 'SRD': 36.86,
 'SSP': 1105.32,
 'STN': 22.6,
 'SYP': 12749.95,
 'SZL': 18.8,
 'THB': 35.37,
 'TJS': 10.91,
 'TMT': 3.5,
 'TND': 3.11,
 'TOP': 2.34,
 'TRY': 30.36,
 'TTD': 6.7,
 'TVD': 1.52,
 'TWD': 31.12,
 'TZS': 2537.21,
 'UAH': 37.88,
 'UGX': 3808.06,
 'UYU': 38.97,
 'UZS': 12368.69,
 'VES': 36.2,
 'VND': 24334.05,
 'VUV': 119.76,
 'WST': 2.73,
 'XAF': 605.06,
 'XCD': 2.7,
 'XDR': 0.752,
 'XOF': 605.06,
 'XPF': 110.07,
 'YER': 247.34,
 'ZAR': 18.8,
 'ZMW': 27.1,
 'ZWL': 9967.52}

In [14]:
rates.items()

dict_items([('USD', 1), ('AED', 3.67), ('AFN', 73.42), ('ALL', 96.85), ('AMD', 404.74), ('ANG', 1.79), ('AOA', 839.62), ('ARS', 825.75), ('AUD', 1.52), ('AWG', 1.79), ('AZN', 1.7), ('BAM', 1.8), ('BBD', 2), ('BDT', 109.63), ('BGN', 1.8), ('BHD', 0.376), ('BIF', 2842.76), ('BMD', 1), ('BND', 1.34), ('BOB', 6.84), ('BRL', 4.95), ('BSD', 1), ('BTN', 83.14), ('BWP', 13.69), ('BYN', 3.22), ('BZD', 2), ('CAD', 1.34), ('CDF', 2707.68), ('CHF', 0.862), ('CLP', 923.33), ('CNY', 7.18), ('COP', 4013.1), ('CRC', 515.59), ('CUP', 24), ('CVE', 101.71), ('CZK', 22.88), ('DJF', 177.72), ('DKK', 6.88), ('DOP', 57.31), ('DZD', 134.12), ('EGP', 30.94), ('ERN', 15), ('ETB', 56.64), ('EUR', 0.922), ('FJD', 2.23), ('FKP', 0.788), ('FOK', 6.88), ('GBP', 0.788), ('GEL', 2.68), ('GGP', 0.788), ('GHS', 12.36), ('GIP', 0.788), ('GMD', 65.66), ('GNF', 8574.57), ('GTQ', 7.73), ('GYD', 209.36), ('HKD', 7.82), ('HNL', 24.4), ('HRK', 6.95), ('HTG', 131.67), ('HUF', 356.65), ('IDR', 15788.15), ('ILS', 3.65), ('IMP', 0.788), ('INR', 83.14), ('IQD', 1308.75), ('IRR', 42040.1), ('ISK', 136.86), ('JEP', 0.788), ('JMD', 155.49), ('JOD', 0.709), ('JPY', 147.52), ('KES', 161.82), ('KGS', 89.34), ('KHR', 4100.33), ('KID', 1.52), ('KMF', 453.79), ('KRW', 1328.95), ('KWD', 0.307), ('KYD', 0.833), ('KZT', 449.1), ('LAK', 20355.86), ('LBP', 15000), ('LKR', 317.16), ('LRD', 188.99), ('LSL', 18.8), ('LYD', 4.82), ('MAD', 10.01), ('MDL', 17.73), ('MGA', 4529.05), ('MKD', 57), ('MMK', 2079.07), ('MNT', 3410.28), ('MOP', 8.05), ('MRU', 40.3), ('MUR', 44.56), ('MVR', 15.44), ('MWK', 1691.5), ('MXN', 17.17), ('MYR', 4.73), ('MZN', 63.88), ('NAD', 18.8), ('NGN', 896.05), ('NIO', 36.19), ('NOK', 10.44), ('NPR', 133.02), ('NZD', 1.63), ('OMR', 0.384), ('PAB', 1), ('PEN', 3.81), ('PGK', 3.68), ('PHP', 56.4), ('PKR', 279.93), ('PLN', 4.02), ('PYG', 7286.48), ('QAR', 3.64), ('RON', 4.59), ('RSD', 108.11), ('RUB', 89.69), ('RWF', 1309.29), ('SAR', 3.75), ('SBD', 8.31), ('SCR', 13.19), ('SDG', 449.42), ('SEK', 10.41), ('SGD', 1.34), ('SHP', 0.788), ('SLE', 22.48), ('SLL', 22479.91), ('SOS', 571.65), ('SRD', 36.86), ('SSP', 1105.32), ('STN', 22.6), ('SYP', 12749.95), ('SZL', 18.8), ('THB', 35.37), ('TJS', 10.91), ('TMT', 3.5), ('TND', 3.11), ('TOP', 2.34), ('TRY', 30.36), ('TTD', 6.7), ('TVD', 1.52), ('TWD', 31.12), ('TZS', 2537.21), ('UAH', 37.88), ('UGX', 3808.06), ('UYU', 38.97), ('UZS', 12368.69), ('VES', 36.2), ('VND', 24334.05), ('VUV', 119.76), ('WST', 2.73), ('XAF', 605.06), ('XCD', 2.7), ('XDR', 0.752), ('XOF', 605.06), ('XPF', 110.07), ('YER', 247.34), ('ZAR', 18.8), ('ZMW', 27.1), ('ZWL', 9967.52)])

In [15]:
weakest_rates = 0
weakest_cou_code = ""

rates = data["rates"]


for count_code, exch  in rates.items():
    
    if weakest_rates < exch:
    
        weakest_rates = exch
        weakest_cou_code = count_code

In [16]:
max(rates)

'ZWL'

In [17]:
rates["ZWL"]

9967.52

In [18]:
max(rates.values())

42040.1

In [20]:
max(rates, key= rates.get)

'IRR'

In [21]:
rates.get("IRR")

42040.1

In [22]:
rates.get("ABC")

In [23]:
rates.get("ABC", "The exchange rate is not available")

'The exchange rate is not available'

In [24]:
def addition(a,b): # a and b are parameters
    add = a+b
    return add

In [25]:
addition(59,11) # 59 and 11 arguments -> Positional Argument(s)

70

# Argument(s)

* Positional Argument(s)
* Named Argument(s) or keyword argument(s)

In [26]:
def substraction(a,b): # a and b are parameters  -> Headers
    sub = a-b # -----> Body
    return sub # Return Statement

In [27]:
substraction(59,11)

48

In [28]:
substraction(11,59)

-48

In [29]:
substraction(a = 59, b = 11)

48

In [30]:
substraction(b = 11 , a = 59 )

48

In [31]:
dict(a=2, b= 5)

{'a': 2, 'b': 5}

In [32]:
def tax_cal(salary, tax_rate):
    tax_value = salary*tax_rate
    return tax_value

In [33]:
tax_cal(100000, 0.05)

5000.0

In [34]:
def tax_cal(salary, tax_rate = 0.05): # default argument
    tax_value = salary*tax_rate
    return tax_value

In [35]:
tax_cal(100000)

5000.0

In [36]:
tax_cal(100000,0.06)

6000.0

In [37]:
# Multiple return statment


def add_subs(a, b):
    add = a + b
    sub = a-b
    
    return

In [38]:
def add_subs(a, b, addition = True):
    add = a + b
    sub = a-b
    
    if addition:
        return add
    else:
        return sub

In [39]:
add_subs(59,21)

80

In [40]:
add_subs(59,21, False)

38

In [41]:
add_subs(addition = False, a= 59,b = 21, )

38

In [42]:
add_subs(59, addition = False, b = 21 )

38

In [43]:
# Return Multiple values

def add_subs(a, b, addition = True):
    add = a + b
    sub = a-b
    
    return add,sub

In [44]:
add_subs(59,11)

(70, 48)

In [45]:
add, sub = add_subs(59,11)

In [46]:
add

70

In [47]:
def taxation(salary):
    tax_rate = 0.05
    return salary*tax_rate

In [48]:
taxation(200000)

10000.0

# Scope

* Any variable is defined in function, is in a local scope

* Any variable is defined in main program, is in a global scope

In [49]:
num = 29

In [50]:
num = 25

In [51]:
tax_rate = 0.06

In [52]:
taxation(200000)

10000.0

# Lambda Function 

* map
* filter

In [54]:
l = [250, 290, 2, 780, 521, 222, 349]

In [55]:
l

[250, 290, 2, 780, 521, 222, 349]

In [56]:
l_double = []



for i in l:
    ans = i*2
    l_double.append(ans)

In [57]:
l_double

[500, 580, 4, 1560, 1042, 444, 698]

In [58]:
alpha = ["ABC", "EFGH", "IJKLM", "N", "OPQ"]

In [59]:
len(alpha)

5

In [60]:
len_ele = []


for i in alpha:
    length = len(i)
    len_ele.append(length)

In [61]:
len_ele

[3, 4, 5, 1, 3]

In [62]:
map(len, alpha)

In [63]:
list(map(len, alpha))

[3, 4, 5, 1, 3]

In [64]:
def mul(i):
    return i*2

In [65]:
list(map(mul, l))

[500, 580, 4, 1560, 1042, 444, 698]

In [66]:
list(map(lambda i: i*2 , l))

[500, 580, 4, 1560, 1042, 444, 698]

In [67]:
l

[250, 290, 2, 780, 521, 222, 349]

In [68]:
list(filter(lambda i: i>300 , l))

[780, 521, 349]