## Combining and Reshaping Data

### Merging and Joining Data Frames

In [87]:
import pandas as pd
import numpy as np
import datetime

In [88]:
customers = {"customer_id": [1234,1235],
             "Name": ["Abdul","Farhan"],
             "Address": ["123-A","567-B"]}

customers = pd.DataFrame(customers)

In [89]:
customers

   customer_id    Name Address
0         1234   Abdul   123-A
1         1235  Farhan   567-B

In [90]:
# customers.set_index("customer_id")

In [91]:
orders = {
    "customer_id": [123,123,124,324,533,5335,],
    "order_id": [1,3,2,5,7,9],
    "order_date": [datetime.date(2023,2,1),datetime.date(2023,5,3),
                   datetime.date(2023,8,1),datetime.date(2023,6,4),
                   datetime.date(2023,3,1),datetime.date(2023,5,5)]
}

In [92]:
orders = pd.DataFrame(orders)
orders

   customer_id  order_id  order_date
0          123         1  2023-02-01
1          123         3  2023-05-03
2          124         2  2023-08-01
3          324         5  2023-06-04
4          533         7  2023-03-01
5         5335         9  2023-05-05

In [93]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  6 non-null      int64
 1   order_id     6 non-null      int64
 2   order_date   6 non-null      object
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

## Merge

* Inner
* Outer
* Left
* Right

In [94]:
merged_data = pd.merge(customers,orders)

merged_data

Empty DataFrame
Columns: [customer_id, Name, Address, order_id, order_date]
Index: []

In [95]:
merged_data

Empty DataFrame
Columns: [customer_id, Name, Address, order_id, order_date]
Index: []

In [96]:
merged_data = pd.merge(orders,customers)

In [97]:
merged_data

Empty DataFrame
Columns: [customer_id, order_id, order_date, Name, Address]
Index: []